<!DOCTYPE html>
<html>
<head>
  <title>Rank Of Github</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'github_favico.ico' %>
</head>
<body>

<%= yield %>

</body>
</html>
